.jumbotron {
  background-image: url("../img/mortal.jpg");
  color: #fff;
  text-align: center;
}

h1 {
  text-align: center;
}

.sidebar {
  float: left;
  background-color: blue;
  text-align: left;
  height: auto;
  font-size: 18px;
}

#jack {
  background-color: grey;
}

#boxing {
  size : 50px;
  
  size: 50px;
}

.forground-img {
  height: 120px;
}
