.jumbotron {
  background-image: url("../img/mortal.jpg");
  font-weight: 400;
  text-align: center;
  line-height: 1.5px;
  padding: 5em 0;
  height: 100px;
  color: #fff;
}

.sidebar{
  float: left;
  background-color: blue;
  text-align: left;
  margin: right:15px;
}
