.jumbotron {
  background-image: url("../img/mortal.jpg");
  height: 300px;
  color: #fff;
}

h1 {
  text-align: center;
}

.sidebar{
  float: left;
  background-color: blue;
  text-align: left;
  height: auto;
  font-size: 18px;
}

#jack {
  background-color: grey;
}

#boxing {
  size : 50px;
  

}
